.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .auth-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 20px;
    transform: scale(1.4);
  }
  
  .auth-wechat{
    font-size: 14px;
      text-align: center;
      margin: 15px auto;    
      cursor: pointer;

      &:hover{
        opacity: .72;
      }
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    font-size: 14px;
  }

  .auth-input {
    margin: 1.5vh 0;
  }

  .auth-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    button:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
